:root{
   
    --titulos: #EA8454;
    --titulos2:#101011e7;
    --navbarcolor: #117EA8;
    --hovernavbar: #1a548a;
    --colorbtnmenu:rgb(32, 102, 158);
    --pretosuave: rgba(0, 0, 0, 0.644);
    --pretotextoclaro: #060707cb;
    --botoeslaranja:#B24615;;
    --borderform:#0b6dc948;
    --colorgreysolid:#e5e5f842;
    --colorgrey: #e5e5f83a;
    --bordercolorgrey:rgba(243, 237, 237, 0);
    --hrservices: #075270;
}