:root{
   
    --titulos: #EA8454;
    --titulos2:#0e0544e3;
    --navbarcolor: #117EA8;
    --hovernavbar: #053c70;
    --pretosuave: rgba(0, 0, 0, 0.644);
    --pretotextoclaro: #060707cb;
    --botoeslaranja:#B24615;;
    --borderform:#0b6dc948;
}