
@media (min-width: 992px) {
    #header .nav-link {
    margin-left: 35px;
   
    }
}

@media (max-width: 789px ){
#bannerdoc{
    display: none;
}
}
  
@media (max-width:767px){
    #form-box{
        margin-left: 2rem;
    }
    #form-message{
        margin-left: 2rem;
        width: 85%;
    }
}
@media (max-width:490px){
    #card-alinhar{
        margin-left: 1rem;
    }

    #card-alinhar2{
        margin-left: 1rem;
     
    }
    #figuresone{
        width: 100%;
    }
}




@media (max-width:411px) and (min-width:390px){
#card-alinhar2{
    margin-left: 2rem;
 
}
}

@media (max-width:991px){
    #p-text-sobre-doctorlar{
        width: 80%;
        text-align: justify;
        margin-right:  4rem;
    }
    #p-vision{
        margin-right:  2rem;
    }
}