    
    
    @media (min-width: 991px) {
        
        #header .nav-link {
        margin-left: 40px;
        }

        #mais-servicos{
            display: none !important
        }
        #hr-tree{
            display: none !important
        }
        #media-form{
            display: none !important
        }
        #a-button-form-responsive{
            display: none !important
        }
        #h2-fale-conosco-responsive{
            display: none !important
        }
        #h2-como-funciona-responsive{
            display: none !important
        }
        #time-responsive{
            display: none !important
        }
       .responvive-sobre{
        display: none !important
       }
       #redes-sociais-responsive{
        display: none !important
       }
      
       #a-button-cadastro-responsive{
        display: none !important
       }
    }

    @media (max-width: 580px) {
        #text-about {
        margin-left: -2rem;
        margin-right: -1rem;
        }
        #slider{
            margin-top: 2rem;
            }
         #time-responsive{
            margin-left: 2rem;
         }
        }


    @media (max-width: 508px) {
        #text-about {
        margin-left: 0.5rem;
        }

        #sobre-nosso-time{
            margin-left: 1rem;
        }
    }

    /* SUMIR IMAGEM NO CELULAR...
    @media only screen and (max-width: 789px ){
    #bannerdoc{
        display: none !important;
    }
    }*/ 

    @media (max-width:767px){
        #form-box{
            margin-left: 2rem;
        }

        #form-message{
            margin-left: 1rem;
            width: 85%;
        }
       
    }
    @media (min-width:767px){
        
        #p-drmohamad{
            width: 100%;
         }
        #p-edy{
            width: 100%;
         }
        #p-luiz{
            width: 100%;
         }
        #p-marco{
            width: 100%;
            }
        }
    

    @media (max-width:490px){
        #card-alinhar{
            margin-left: 1rem;
        }

        #card-alinhar2{
            margin-left: 1rem;
        
        }
        #figuresone{
            width: 100%;
        }
    }

    @media (max-width: 991px){
        #about-doctorlar{
            margin-right: 1.3rem;
        }
        #medica-doctorlar{
            margin-bottom: 3rem;
         }

        .normal-a{
            display: none!important;
         }
         #redes-sociais{
            display: none !important;
         }
         #a-button-cadastro{
            display: none!important;
         }

        #text-about-doctorlar{
        text-align: center;
        font-size: 210%;
        
        }

        #p-text-sobre-doctorlar{
            text-align: justify;
           
        }

        #img-doctorlar{
            width: 70%;
            height: 80%;
        }
        #h3mission{
            font-size: 210%;
            margin-left: 1.5rem;
            margin-top: -0.3rem;
        }
        #h3vision{
            font-size: 260%;
            margin-left: 0.7rem;
        }
        #h3value{
            font-size: 200%;
            margin-left: 1.5rem;
            margin-top: -0.5rem;
        }
        #p-mission{
            font-size: 140%;
           
        }
        #p-vision{
            font-size: 140%;
        }
        #p-value{
            font-size: 140%;
        }
        #img-mission{
            width: 95px;
            height: 80px;
            margin-bottom: -0.5rem;
            margin-left: 1.5rem;
           
        }
        #img-vision{
            width: 95px;
            height: 60px;
        }
        #img-value{
            width: 80px;
            height: 80px;
           
        }
        #cards-figures-two{
            margin-top: -0.8rem;
        }

        #cards-figures-three{
            margin-top: 0.5rem;
        }

        #cards-figures-four{
            margin-top: 0.5rem;
            margin-bottom: 6rem;
        }

        #slider{
            margin-left: 3rem;
        }
        
        #h5-duvidas{
            margin-left: 1rem;
        }

        #moreservices

        #time-responsive
        .responvive-sobre
        .redes-sociais
        
        #cards-text-one{
            margin-bottom: 9rem;
        }

        #cardes:hover{
            transform: scale(1.2);
        }
        #time-responsive{
            margin-bottom: 3rem;
        }

        #button-tw-responsive{
            border-radius: 70%;
            overflow: hidden;  
            background-color: #fff;
            justify-content: center;
            align-items: center;
            border: solid transparent;
            
        }
        #button-face-responsive{
            background-color: #fff;
            border-radius: 70%;
            overflow: hidden; 
            justify-content: center;
            align-items: center; 
            border: solid transparent;
            
        }
        #button-inst-responsive{
            border-radius: 70%;
            overflow: hidden;  
            background-color: #fff;
            justify-content: center;
            align-items: center;
            border: solid transparent;
        }
        #a-button-cadastro-responsive{
            justify-content: center;
            margin-top: -1rem;
            padding: 1rem;
            width: 200px;
            background-color: var(--botoeslaranja);
            border: solid transparent;
            border-radius: 4px;
        }
        #span-wpp img{
            width: 75px;
            height: 75px;
            right: 90px;
            line-height: 50px;
            position: fixed;
            bottom: 40px;
            border-radius: 50%;
            background-clip: padding-box;
            margin-right: -6rem;
            filter:grayscale(15%);
        }
        #span-wpp{
            position: fixed;
            font-size: 19px;
            width: 65px;
            height: 50px;
            bottom: 40px;
            filter:grayscale(15%);
        }
        #span-wpp:hover{
            filter: contrast(130%);
        }
        }
        


    @media (max-width:411px) and (min-width:390px){
        #card-alinhar2{
            margin-left: 2rem;
        }
    }

    @media (max-width:991px){
        #media_normal{
            display: none !important;
        }
        #h2-fale-conosco{
            display: none !important;
        }
        #btn-enviar{
            display: none !important;
        }
        #p-text-sobre-doctorlar{
            width: 100%;
            text-align: justify;
            margin-right:  3rem;
            font-size: 140%;
            margin-top: -0.2rem;  
         }

        #sobre-nosso-time{
        display: none;
        } 
 
        #media-form

        #h2-fale-conosco-responsive
     
        #p-vision{
            margin-right:  2rem;
        }
   
        #form-box-responsive ::placeholder{
        font-size: larger;
        }
        
        textarea ::placeholder{
        font-size: larger;
        }
        
        li.nav-item{
        font-size: 120%
        }

        p#menu{
        font-size: 120%;
        }
    }


    @media (max-width:991px) and (min-width:800px){
        #p-drmohamad{
            font-size: 160%;
        }
        #p-edy{
            font-size: 160%;
        }
        #p-luiz{
            font-size: 160%;
        }
        #p-marco{
            font-size: 160%;
        }
        #h6-drmohamad{
            font-size: 130%;
        }
        #h6-edy{
            font-size: 130%;
        }
        #h6-luiz{
            font-size: 130%;
        }
        #h6-marco{
            font-size: 130%;
          
        }
        #h5-drmohamad{
            font-size: 160%;
            margin-top: 0.5rem;
        }
        #h5-edy{
            font-size: 160%;
            margin-top: 0.5rem;
        }
        #h5-luiz{
            font-size: 160%;
            margin-top: 0.5rem;
        }
        #h5-marco{
            font-size: 160%;
            margin-top: 0.5rem;
        }

        .time-responsive{
            margin-bottom: 7rem;
        }
        #p-faca-parte-medicos{
            font-size: 130%;
        }
        #medico-felipe{
            width: 45%;
            height: 45%;
        }
        #medica-amanda{
            width: 45%;
            height: 45%;
        }
        #medico-doctorlar{
            font-size: 140%;
        }
        #medica-doctorlar{
            font-size: 140%;
        }
        #h2-medico-felipe{
            font-size: 160%;
        }
        #h2-medica-amanda{
            font-size: 160%;
        }
        #a-button-cadastro{
            font-size: 125%;
        }
        #para-pacientes{
            font-size: 120%;
        }
        #p-para-pacientes{
            font-size: 130%;
            margin-bottom: 3rem;
        }
        #para-medicos{
            font-size: 120%;
        }
        #p-para-medicos{
            font-size: 110%;
        }
        #a-button-form{
            font-size: 135%;
        }
    
    }
   